.htaccess
cohortdemo_db.sql
index.php
license.txt
readme.html
wp-activate.php
wp-admin.zip
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
/wp-content/updraft
/wp-content/plugins/updraftplus
/wp-content/debug.log
/msql